  <footer class="footer">
  <small>
    The Ruby on Rails App</a>
    by <a href="https://www.linkedin.com/in/oluwafemi-lawal-2a1228137/">Femi Lawal</a>
  </small>
  <nav>
    <ul>
      <li> <a href="/">Home</a></li>
      <li><%= link_to "About",   about_path %></li>
    </ul>
  </nav>
</footer>